<footer class="page-footer font-small blue">


    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/"> Carlos Beverina</a>
    </div>

  
  </footer>
  <script>
    const f1 = () => {
      window.location.href = `http://localhost:8080/carrito/${sessionStorage.getItem("cart")}`;
      console.log(sessionStorage.getItem("cart"))
  }
  </script>
  