doctype html
html(lang='es')
  head
    title Productos
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  body
    div.container
      div.row
        div.col
          hr
          h1 Cargar Producto 
          hr

          form(action='http://localhost:8080/productos' method='POST')
            div.form-grid
              label(for='title') Titulo 
              input(name="price", class="form-control")
              label(for='price') Precio 
              input(name="price", class="form-control")
              label(for='thumbnail') Foto 
              input(name="thumbnail", class="form-control")
              button(type="submit" class="btn btn-primary mt-4") Enviar
          div 
            a(href='http://localhost:8080/productos')
              button(class='btn btn-secondary mt-4') Ver Productos
